{% comment %} Announcement Bar {% endcomment %}

{%- if section.settings.show_announcement -%}
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}

    {%- if section.settings.link == blank -%}
      <div>
    {%- else -%}
      <a href="{{ section.settings.link }}" >
    {%- endif -%}

      <p>{{ section.settings.text | escape }}</p>

    {%- if section.settings.link == blank -%}
      </div>
    {%- else -%}
      </a>
    {%- endif -%}

  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Announcement link"
    }
  ]
}
{% endschema %}
{%- if section.settings.show_announcement -%}
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}

    {%- if section.settings.link == blank -%}
      <div>
    {%- else -%}
      <a href="{{ section.settings.link }}" >
    {%- endif -%}

      <p>{{ section.settings.text | escape }}</p>

    {%- if section.settings.link == blank -%}
      </div>
    {%- else -%}
      </a>
    {%- endif -%}

  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Announcement link"
    }
  ]
}
{% endschema %}

{% comment %} Logo list {% endcomment %}
<style>
    .logo-bar__item {
      display: inline-block;
      max-width: {{ section.settings.logo_width }};
    }
  </style>
  
  <h2>{{ section.settings.title | escape }}</h2>
  
  {%- if section.blocks.size > 0 -%}
    <ul>
      {%- for block in section.blocks -%}
        <li class="logo-bar__item" {{ block.shopify_attributes }}>
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}">
          {%- endif -%}
  
            {%- if block.settings.image != blank -%}
              {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt }}
            {%- else -%}
              {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
  
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  
  {% schema %}
  {
    "name": "Logo list",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      },
      {
        "type": "select",
        "id": "logo_width",
        "label": "Logo width",
        "default": "160px",
        "options": [
          {
            "label": "Extra Small",
            "value": "100px"
          },
          {
            "label": "Small",
            "value": "125px"
          },
          {
            "label": "Medium",
            "value": "160px"
          },
          {
            "label": "Large",
            "value": "175px"
          },
          {
            "label": "Extra Large",
            "value": "200px"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
  {% endschema %}

{% comment %} Featured text {% endcomment %}
<h2>{{ section.settings.section_title | escape }}</h2>
{{ section.settings.text }}

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    }
  ],
  "presets": [
    {
      "name": "Rich Text",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% comment %} Customer login {% endcomment %}
<h1>Sign in to your Account</h1>

{%- form 'customer_login' -%}
  {{ form.errors | default_errors }}

  <div>
    <label for="customerEmail">Email Address</label>
    <input type="email"
      name="customer[email]"
      id="customerEmail"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="email">
  </div>
  <div>
    <label for="customerPassword">Password</label>
    <input type="password"
      name="customer[password]"
      id="customerPassword">
  </div>

  <input type="submit" value="Sign In" />

  <p>
    {{ 'Create Account' | customer_register_link }}
  </p>
  <p>
    <a href="#recover">Forgot your password?</a>
  </p>

{%- endform -%}

<!-- If accounts are set as optional, the following will be shown as an option when coming from checkout, not on the default /login page. -->
{%- if shop.checkout.guest_login -%}
  {%- form 'guest_login' -%}
    <input type="submit" value="Continue as Guest" />
  {%- endform -%}
{%- endif -%}

<!-- Use JavaScript to show/hide this form -->
{%- form 'recover_customer_password' -%}

  {%- if form.posted_successfully? -%}
    <div role="status">
      <p>We've sent you an email with a link to update your password.</p>
    </div>
  {%- endif -%}

  <div id="recover"{% unless form.errors %} style="display: none;"{% endunless %}>
    <p>We will send you an email to reset your password.</p>

    {{ form.errors | default_errors }}

    <label for="customerEmail">Email Address</label>
    <input type="email"
      name="email"
      id="customerEmail"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="email">

    <input type="submit" value="Submit">
  </div>

{%- endform -%}

{% comment %} Collection page {% endcomment %}
<style>
    .product-card {
      box-sizing: border-box;
      float: left;
      min-height: 1em;
      padding-left: 2em;
      vertical-align: top;
      width: 25%;
    }
  
    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }
  </style>
  
  <h1>{{ collection.title }}</h1>
  
  {%- if collection.description != blank -%}
    <p>{{ collection.description }}</p>
  {%- endif -%}
  
  <ul>
    {%- for product in collection.products -%}
      <li>
        <a class="product-card" href="{{ product.url | within: collection }}">
          <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
          {{ product.title }}
          <p>
            <span aria-hidden="true">—</span>
            {%- if product.price_varies -%}
              <span class="visuallyhidden">Starting at</span>
              {{ product.price_min | money_without_trailing_zeros }}
              <span aria-hidden="true">+</span>
            {%- else -%}
              {{ product.price | money_without_trailing_zeros }}
            {%- endif -%}
          </p>
          <p>
            <span class="visuallyhidden">by</span>
            {{ product.vendor }}
          </p>
        </a>
      </li>
    {%- endfor -%}
  </ul>

{% comment %} Collection list {% endcomment %}
<h1>{{ page_title }}</h1>

<ul>
  {%- for collection in collections -%}
    <li>
      <!--
        These control flow tags check to see if there is a featured image for a collection.
        If there isn't one, then we assign the image from the first product in the collection.
      -->
      {%- if collection.image -%}
        {%- assign collection_image = collection.image -%}
      {%- elsif collection.products.first and collection.products.first.images != empty -%}
        {%- assign collection_image = collection.products.first.featured_image -%}
      {%- else -%}
        {%- assign collection_image = blank -%}
      {%- endif -%}

      <a href="{{ collection.url }}">
        <img src="{{ collection_image | img_url: '480x' }}" alt="">
        {{ collection.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>

{% comment %} Checkout form {% endcomment %}
{%- if cart.item_count > 0 -%}

    <form action="/cart" method="post">
    
      {%- for item in cart.items -%}
        <a href="{{ item.url | within: collections.all }}">
          <img src="{{ item | img_url: '200x200' }}" alt="{{ item.image.alt | escape }}">
          {{ item.product.title }}
        </a>
    
        {%- unless item.variant.title contains 'Default' -%}
          <p>{{ item.variant.title }}</p>
        {%- endunless -%}
    
        {%- assign property_size = item.properties | size -%}
        {%- if property_size > 0 -%}
          <ul>
    
            {%- for p in item.properties -%}
              {%- assign first_character_in_key = p.first | truncate: 1, '' -%}
              {%- unless p.last == blank or first_character_in_key == '_' -%}
                <li>
                  {{ p.first }}:
    
                  {%- if p.last contains '/uploads/' -%}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {%- else -%}
                    {{ p.last }}
                  {%- endif -%}
    
                </li>
              {%- endunless -%}
            {%- endfor -%}
    
          </ul>
        {%- endif -%}
    
        <p>
          <a aria-label="Remove {{ item.variant.title }}" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
        </p>
      {%- endfor -%}
    
      <input type="submit" name="checkout" value="Checkout">
    </form>
    
    {%- else -%}
      <p>The cart is empty. <a href="/collections/all">Continue shopping</a></p>
    {%- endif -%}

{% comment %} Cart notes {% endcomment %}
<label for="CartNote">Special instructions</label>
<textarea name="note" id="CartNote">{{ cart.note }}</textarea>

{% comment %} Call to action {% endcomment %}
<div>
    <h2>{{ section.settings.text-box }}</h2>
  
    <a href="{{ section.settings.link }}">
      {{ section.settings.linktext }}
    </a>
  </div>
  
  {% schema %}
  {
    "name": "Call to action",
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Link URL"
      },
      {
        "id": "linktext",
        "type": "text",
        "label": "Link text",
        "default": "Click here"
      }
    ]
    ,
    "presets": [
      {
        "name": "Call to Action",
        "category": "Promotional"
      }
    ]
  }
  {% endschema %}
  

{% comment %}

{% for product in collection.products %} 
  {{ product.title }} 
{% endfor %}

{{ product.title | upcase | remove: "AWESOME"  }}

{% for product in collection.products %} 
  {{ product.handle }} 
{% endfor %}

{{ all_products['wayfarer-shades'].title }}

<h1>{{ pages.about.title }}</h1>

<h1>{{ blogs.myblog.title }}</h1>

{% for collection in collections %} 
	{{ collection.title }} 
{% endfor %}

{% if customer %} Hello {{ customer.first_name }} {% endif %}

{% if handle contains 'private' %} 
	Don't show this to anyone! ok? 
{% endif %}

{%- if line_item.fulfillment -%} 
	<div class="note"> 
    	{%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%} 
        {{ 'customer.order.fulfilled_at_html' | t: date: created_at }}
        <div> 
        	{%- if line_item.fulfillment.tracking_url -%} 
            	<a href="{{ line_item.fulfillment.tracking_url }}"> {{ 'customer.order.track_shipment' | t }} </a> 
            {%- endif -%} 
        	<div> 
            	{{ line_item.fulfillment.tracking_company }} 
               	{%- if line_item.fulfillment.tracking_number -%} 
                    #{{ line_item.fulfillment.tracking_number }} 
                {%- endif -%}
            </div> 
       </div> 
   </div> 
{%- endif -%}

<div id="recommended-products"> 
	<h2>Recommended: </h2> 
    {% if recommendations.products_count > 0 %} 
        {% for product in recommendations.products %} 
            {{ product.title | link_to: product.url }} 
        {% endfor %} 
    {% endif %} 
</div>

<div id="recommended-products" data-product-id="{{ product.id }}" data-limit="5"> 
	<h2>Recommended: </h2> 
    {% if recommendations.performed %} 
    	{% if recommendations.products_count > 0 %} 
        	{% for product in recommendations.products %} 
            	{{ product.title | link_to: product.url }} 
            {% endfor %} 
        {% endif %} 
    {% else %} 
    	<div class="placeholder">[Placeholder animation goes here]</div> 
    {% endif %}
</div>

function ProductRecommendations(container) { 
	var $container = (this.$container = $(container)); 
    var productId = $container.data('product-id'); 
    var limit = $container.data('limit'); 
    var productRecommendationsUrlAndContainerClass = '/recommendations/products?&section_id=product-recommendations&limit=' + limit + '&product_id=' + productId; 	
    $container.parent().load(productRecommendationsUrlAndContainerClass); }; 
    document.addEventListener("DOMContentLoaded", function() { 
    ProductRecommendations($('#recommended-products')); 
});

<ul> 
	{% for tag in collection.all_tags %} 
        {% if current_tags contains tag %} 
            <li class="active">{{ tag | link_to_remove_tag: tag }}</li>
        {% else %} 
            <li>{{ tag | link_to_add_tag: tag }}</li> 
        {% endif %} 
    {% endfor %} 
</ul>

{% style %} 
    .hero__background-color-container { 
    	background-color: {{ section.settings.background_color }} 
    } 
{% endstyle %}

{% assign downcased_title = product.title | downcase %}

{% assign products = collection.products | sort: 'price' %} 
{% for product in products %} 
	<h4>{{ product.title }}</h4> 
{% endfor %}

{{ 'Shopify' | link_to: 'https://www.shopify.com','A link to Shopify' }}



{% endcomment %}

